<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <h5>Đăng ký khóa học này</h5>
            <button type="button" class="btn btn-success mt-2">HỌC NGAY</button>
        </div>

        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>